[submodule "Dependencies/tracy"]
	path = Dependencies/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Dependencies/subhook"]
	path = Dependencies/subhook
	url = https://github.com/rsl-dev/subhook.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Dependencies/kiero"]
	path = Dependencies/kiero
	url = https://github.com/rsl-dev/kiero.git
[submodule "Dependencies/IconFontCppHeaders"]
	path = Dependencies/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "Dependencies/RSL2-Dependencies"]
	path = Dependencies/RSL2-Dependencies
	url = https://github.com/rfg-modding/RSL2-Dependencies.git
[submodule "Dependencies/sol2"]
	path = Dependencies/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "Dependencies/asmjit"]
	path = Dependencies/asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "Dependencies/RFGR_Types"]
	path = Dependencies/RFGR_Types
	url = https://github.com/rfg-modding/RFGR_Types.git
[submodule "Dependencies/sentry-native"]
	path = Dependencies/sentry-native
	url = https://github.com/getsentry/sentry-native.git
[submodule "Dependencies/pugixml"]
	path = Dependencies/pugixml
	url = https://github.com/zeux/pugixml.git
